body {
    background-color: black;
    
}

@font-face {
    font-family: "emulogic";
    src: url(../assets/font/emulogic.ttf) format("truetype");
}

canvas {
    display: flex;
	justify-content: center; /* center horizontally */
	align-items: center; /* center vertically */
}